<h1><span><%= blog.title %></span></h1>
<div>
	<img src="/<%= blog.imageURL %>" alt="<%= blog.summary %>">
	<div class="article">
		<h2><%=blog.summary%></h2>
		<p><%= blog.content %></p>
	</div>
</div>
</div>
