<h1><span>blog</span></h1>
<div>
	<a href="/blog/new">Create New Blog Post</a>
  </div>
  <br>
<div>
    <ul>
	<% blogs.forEach((blog) => { %>
	    <li>
		<a href="blog/<%=blog.titleSlug%>" class="figure">
			<img src="/<%=blog.imageURL%>" alt="<%=blog.summary%>" class="blog-image">

		</a>
		<div>
		    <h3><%=blog.title%></h3>
		    <p><%=blog.summary%></p>
		    <a href="blog/<%=blog.titleSlug%>" class="more">read this</a>
		</div>
	    </li>
	<% }) %>

    </ul>
</div>
</div>
