<h1><span>respond to contact request</span></h1>
<form action="/contacts/<%=contact.id%>/update" method="post">
	<div class="disabled">
		<input type="text" name="name" id="fname" placeholder="name" disabled="disabled" value="<%=contact.name%>">
		<input type="text" name="address" id="address" placeholder="address" disabled="disabled" value="<%=contact.address%>">
	<input type="email" name="email" id="email" placeholder="email" disabled="disabled" value="<%=contact.email%>">
		<input type="tel" name="phone" id="phone" placeholder="phone number (XXX-XXX-XXXX)"
							  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" disabled="disabled" value="<%=contact.email%>">
		<textarea name="message" id="message" placeholder="MESSAGE" required disabled="disabled"><%=contact.message%></textarea>
		<hr />
	</div>
	<textarea name="response" id="response" placeholder="<%- contact.response ? contact.response : 'RESPONSE'%>" required <%- contact.response ? 'disabled=`disabled`' : ''%>></textarea>
	<input type="hidden" name="id" id="<%=contact.id%>" value="23598798797235">

	<input type="submit" name="send" id="send" value="send" <%- contact.response ? 'disabled=`disabled`' : ''%> style="<%- contact.response ? 'pointer-events: none;' : 'pointer-events: auto;'%>">
	<a href="/contacts" name="cancel" id="cancel">cancel</a>
</form>
</div>
